.list-cell {
  -fx-font: 12pt "Arial";
}

.scroll-pane {
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-border-width: 1 0 0 0;
  -fx-border-color: gray;
}

.scroll-pane:focused {
  -fx-background-insets: 0;
}

.scroll-pane .corner {
  -fx-background-insets: 0;
}