.root {
    -fx-base: #181818;
    -fx-default-button: #202325;
    -fx-focus-color: #efefef;
    -fx-text-base-color: #efefef;
}

.menu-bar {
    -fx-background-color: #383838;
}
.menu-item, .context-menu {
    -fx-background-color: #4b4b4b;
}
.menu-item:hover, .menu-item:focused {
    -fx-background-color: #0096c9;
}

.table-view {
    -fx-background-color: #383838;
}

.text-area .content {
    -fx-background-color: -fx-default-button;
}

.text-input {
    -fx-text-fill: #efefef;
    -fx-background-color: -fx-default-button;
}
.text-input:focused {
    -fx-highlight-text-fill: ladder(
        -fx-highlight-fill,
        -fx-light-text-color 45%,
        -fx-dark-text-color  46%,
        -fx-dark-text-color  59%,
        -fx-mid-text-color   60%
    );
}

.button:focused {
    -fx-focus-color: #0096c9;
    -fx-background-color: -fx-focus-color;
}

.list-cell {
    -fx-background-color: #383838;
    -fx-text-fill: #efefef;
}
.list-cell:even {
    -fx-background-color: #3b3b3b;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: #efefef;
}

.header-panel {
    -fx-background-color: #383838;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 2;
    -fx-border-color: linear-gradient(#181818 0%, #3c3c3c 100%)
}
#authorizationText > Text {
    -fx-fill: #efefef;
}